<%= render @product %>
<div>
  <%= button_to "Add #{@product.name} to cart", order_items_path(product_id: @product.id) %>
  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= link_to "Back to products", products_path %>
  <%= button_to "Destroy this product", @product, method: :delete %>
</div>
